@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;400&family=Montserrat&family=Poppins:wght@300&family=Tilt+Prism&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
}

main {
    background-color: black;
    color:white
}

#areas {
    display: grid;
    grid-row: 10vh 60vh 30vh;
    grid-template-areas:
    "header"
    "content"
    "footer";
}

/* -------------------------------------------------------- ETIQUETA HEADER ------------------------------------------------------------------ */

#header {
    color: white;
    display:flex;
    justify-content: space-between;
    padding: 25px;
    grid-area: header;
    border-bottom: 3px solid white;
    font-size: 23pt;
}

#contenedor-logo {
    font-weight: 1000;
}

#s-amarilla {
    color: #FFD966;
    margin-left: 3px;
}

#selection-system {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-weight: 1000;
}

#system {
    color:#FFD966;
}

/* -------------------------------------------------------- ETIQUETA SECTION ------------------------------------------------------------------ */

#content {
    grid-area: content;
    width: 100%;
    height: 100%;
}

#barra-principal {
    display:flex;
    justify-content: space-between;
    margin-top: 25px;
    padding-left: 20px;
    padding-right: 20px;
}

#cantidad-vacantes {
    font-size: 20pt;
}

#barra-principal input {
    width: 40%;
    height: 25px;
    border-radius: 10px;
    border: 1px solid white;
    background-color:black;
    box-shadow: 0 0 7px white;
    color: white;
    padding: 8px;
    text-align: center;
    font-weight: 600;
}

#barra-principal input::placeholder {
    color:white;
    font-weight: 600;
    text-align: center;
}

#barra-principal input:hover {
    box-shadow: 0 0 15px white;
    transition: 0.4s;
}

#esquema {
    width: 100%;
    height: 392px;
}

#conjunto-ofertas {
    display: flex;
    justify-content: center; 
    width: 60%;
    height: 310px;
    margin: 0 auto;
    margin-top: 40px;
    flex-wrap: wrap;
    border-radius: 10px;
    border: 3px solid white;
    box-shadow: 0 0 10px white;
    align-items: center;
    overflow-y: auto;
}

#conjunto-ofertas:hover {
    box-shadow: 0 0 30px white;
    transition: 0.4s;
}

#contenedor-oferta {
    width: 85%;
    height: 80%;
    background-color: white;
    border-radius: 15px;
    color: black;
    display: flex;
    justify-content: center;
    align-self: center;
    margin: 20px;
    border: 3px solid black
}

#contenedor-oferta:hover {
    box-shadow: 0 0 30px white;
    transition: 0.4s;
}

#oferta {
    display:grid;
    grid-template-columns: 180px 1fr;
    margin: 13px;
}

#grid {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 34px;
    margin-top: 10px;
}

#oferta #numero-oferta {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25pt;
}

#oferta #titulo-oferta {
    display: flex;
    align-items: center;
}

#salario,#experiencia-meses, #num-vacantes, #postulaciones, #fecha-inicion, #fecha-cierre {
    display: block;
    margin: 5px;
}

#lugar {
    margin: 5px
}

#boton-postularme #postularme {
    display: flex;
    width: 18%;
    margin: auto;
    background-color: #FFD966;
    color: black;
    padding: 10px;
    border-radius: 15px;
    border: black;
    box-shadow: 0 0 3px black;
    font-size: 12pt;
    cursor: pointer;
    margin-top: 15px;
    text-decoration: none;
    font-weight: 700;
}

#boton-postularme #postularme:hover {
    background-color: black;
    color: #FFD966;
    transition: 0.4s;
}

#conjunto-ofertas::-webkit-scrollbar{
    width: 10px;
}

#conjunto-ofertas::-webkit-scrollbar-thumb{
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 5px white;
}

#boton-volver {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

#volver {
    background-color: #FFD966;
    color: black;
    padding: 10px;
    border-radius: 15px;
    border: none;
    box-shadow: 0 0 10px #FFD966;
    font-size: 12pt;
    cursor: pointer;
    margin-top: 15px;
    text-decoration: none;
    font-weight: 700;
}

#volver:hover {
    background-color: black;
    color: #FFD966;
    transition: 0.4s;
    box-shadow: 0 0 15px #FFD966;
}

/* -------------------------------------------------------- ETIQUETA FOOTER ------------------------------------------------------------------ */

footer {
    grid-area: footer;
    background-color: #FFD966;
    box-shadow: 0 0 10px #FFD966;
}

footer:hover {
    box-shadow: 0 0 40px #FFD966;
    transition: 0.4s;
}

#union {
    display: flex;
    align-items: center;
    gap: 10px;
}

#contenedor-img {
    width: 7%;
    margin-left: 10px;
}

#logo-png {
    display: flex;
    width: 160px;
    height: 117px;
}

#info-footer {
    display: flex;
    color: black;
    width: 90%;
    justify-content: space-evenly;
}

#sebas,#william,#peter,#capera {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 8px;
}

#apps {
    display: flex;
    gap: 25px;
}

#apps i{
    color:black
}

#apps i:hover{
    color:black;
    font-size: 23px;
    transition: 0.3s;
}