@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;400&family=Montserrat&family=Poppins:wght@300&family=Tilt+Prism&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
}

body {
    background-color: black;
    color:white
}

body::-webkit-scrollbar{
    width: 8px;
}

body::-webkit-scrollbar-thumb{
    background: white;
    border-radius: 3px;
    box-shadow: 0 0 10px white;
}

#areas {
    display: grid;
    grid-row: 10vh auto 30vh;
    grid-template-areas:
    "header"
    "content"
    "footer"  ;
}

/* -------------------------------------------------------- ETIQUETA HEADER ------------------------------------------------------------------ */

#header {
    color: white;
    display:flex;
    justify-content: space-between;
    padding: 25px;
    grid-area: header;
    border-bottom: 3px solid white;
    font-size: 23pt;
    position: static;
}

#contenedor-logo {
    font-weight: 1000;
}

#s-amarilla {
    color: #FFD966;
    margin-left: 3px;
}

#selection-system {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-weight: 1000;
}

#system {
    color:#FFD966;
}


/* ---------------------------------------------------- ETIQUETA SECTION - CONTENT ------------------------------------------------------------ */

#contenedor-login {
    grid-area: content;
    width: 73%;
    height: 400px;
    background-color: white;
    margin: auto;
    margin-top: px;
    color: black;
    display: flex;
    margin-top: 45px;
    margin-bottom: 55px;
    border-radius: 15px;
    box-shadow: 0 0 10px white;
}

#contenedor-login:hover {
    box-shadow: 0 0 30px white;
    transition: .3s ease-in;
}

#contenedor-imagen {
    width: 35%;
    border-right: 4px solid black;
    display: flex;
    align-items: center;
}

#contenedor-imagen #logo {
    width: 350px;
    height: 350px; 
}

#contenedor-2 {
    width: 100%;
}

#primera-barra {
    height: 28%;
    border-bottom: 3px solid black;
}
#primera-barra #titulo{
    display: flex;
    justify-content: center;
    height: 50px;
    align-items: center;
    font-size: 18pt;
    margin-top: 15px;
}

#barra-checkbox {
    display: flex;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: space-around;
}

#barra-checkbox article {
    display: flex;
    gap: 8px;
}

#barra-checkbox input {
    width: 15px;
    height: 27px;
}

#segunda-barra {
    margin-top: 30px;
    display: grid;
    padding-left: 40px;
    gap: 30px
}

#segunda-barra article {
    display: grid;
    gap: 10px;
}

#segunda-barra label {
    font-size: 15pt;
    font-weight: 1000;
}

#segunda-barra input {
    width: 40%;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 3px black;
    padding: 6px;
    padding-left: 20px;
    font-weight: 1000;
}    

#segunda-barra input::placeholder {
    color: black
}

#tercera-barra {
    display: flex;
    margin-top: 25px;
    margin-left: 40px;
    justify-content: space-between;
}

#tercera-barra #iniciar {
    background-color: #FFD966;
    color: black;
    padding: 10px;
    border-radius: 15px; 
    box-shadow: 0 0 2px black;
    font-size: 12pt;
    cursor: pointer;
    text-decoration: none;
    font-weight: 1000;
}

#tercera-barra #iniciar:hover {
    background-color: black;
    color: #FFD966;
    transition: 0.4s;
}

#tercera-barra #olvido {
    text-decoration: none;
    margin-top: 10px;
    color: black;
    padding-right: 40px;
    font-weight: 1000;
}

#tercera-barra #olvido:hover {
    color: rgb(43, 43, 212);
    transition: 0.4s;
}
/* -------------------------------------------------------- ETIQUETA FOOTER ------------------------------------------------------------------ */

footer {
    grid-area: footer;
    background-color: #FFD966;
    box-shadow: 0 0 10px #FFD966;
}

footer:hover {
    box-shadow: 0 0 40px #FFD966;
    transition: 0.4s;
}

#union {
    display: flex;
    align-items: center;
    gap: 10px;
}

#contenedor-img {
    width: 7%;
    margin-left: 10px;
}

#logo-png {
    display: flex;
    width: 160px;
    height: 117px;
}

#info-footer {
    display: flex;
    color: black;
    width: 90%;
    justify-content: space-evenly;
}

#sebas,#william,#peter,#capera {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 8px;
}

#apps {
    display: flex;
    gap: 25px;
}

#apps i{
    color:black
}

#apps i:hover{
    color:black;
    font-size: 23px;
    transition: 0.3s;
}