@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;400&family=Montserrat&family=Poppins:wght@300&family=Tilt+Prism&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    padding: 0px;
}

.page {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 10vh 75vh 15vh;
    grid-template-areas: 
    "header    header"
    "content   content"
    "footer    footer";
}


.header {
    display: flex;
    grid-area: header;
    background-color: black;
    color: white;
    justify-content: space-between;
    border-bottom: 3px solid white;
    font-size: 23pt;
    align-items: center;
    padding-left: 25px;
    font-weight: 1000;
}

.header .contenedor-logo {
    display: flex;
    gap: 2px
}

.header .contenedor-logo .s-amarilla {
    color: #FFD966;
}

.header .titulo {
    display: flex;
    width: 100%;
    justify-content: center;
}

.header .titulo .system {
    color: #FFD966;
}

.menu{
    background-color: #FFD966;
    height: 80px;
    width: 80px;
    border-radius: 100%;
}

/*------------------------------------------------------------*/
.content{
    grid-area: content;
    background-color: black;
    height:100%;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 75vh;
    grid-template-areas:"controles busqueda" ;
}
.controles{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.filtro{

    display:flex;
    flex-direction: column;
    align-items: center;
    background: gray;
    height: 100%;
    width: 90%;
    margin-top: 5px;
    border:3px solid #FFD966;
    
}
.boton-crear{
    text-decoration: none;
    color:black;
    background-color: #FFD966;
}
.boton-ver{
    text-decoration: none;
    color:black;
    background-color: #4D4D4D;
}
.retroceso{
    display: flex;
    align-items: center;
    flex-direction: column;
    background: gray;
    height: 50%;
    width: 90%;
    margin-top: 3px;
    border:3px solid #FFD966;
}
.retroceso .boton{
    
    background-color: #FFD966;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 100px;
    margin-top: 5px;
    cursor: pointer;
    border-radius: 20px;
    text-decoration: none;
    color:black;
}
.retroceso .boton:hover{
    color: white;
    background-color: #4D4D4D;
    transition: 0.3s;

}
.filtro .boton{
    display: flex;
    justify-content: center;
    height: 25px;
    width: 120px;
    margin-top: 5px;
    border: 4px solid;
    cursor: pointer;
}
.boton-ver:hover{
    color: #FFD966;
    box-shadow:0 0 3px #ffffc5;
    transition: 0.3s;
}
.boton-crear:hover{
    color: gray;
    box-shadow:0 0 7px #fffdfd;
    transition: 0.3s;
}

.logo{
    height: 100%;
}



/*------------------------------------------------------------*/
.busqueda-empresas{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.barra{
border-bottom:3px solid #FFD966;
height: 5%;
width: 100%;
}
samp{
    color: white;
    font-size: xx-large
}
samp.amarillo{
    color: #FFD966;
}

.recuadro{
    
    margin-top: 10px;
    background-color: gray;
    width: 70%;
    height: 70%;
}




/*------------------------------------------------------------*/

.footer {
    grid-area: footer;
    background-color: #FFD966;
    height: 100%;
}

.footer .contenedor-footer {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-between;
}

.footer .contenedor-footer .contenedor-imagen {
    width: 15%;
    margin-left: 15px;
    height: 100%;
}

.footer .contenedor-footer .contenedor-imagen .logo-png{
    width: 65%;
    height: 95%;
}

.footer .contenedor-footer .informacion {
    display: flex;
    width: 85%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
}

.sebas,.william,.peter,.capera {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 4px;
}

.footer .contenedor-footer .informacion article .apps {
    display: flex;
    text-decoration: none;
    width: 100%;
    justify-content: space-between;
}

.footer .contenedor-footer .informacion article .apps i {
    color: black;
    
}

.footer .contenedor-footer .informacion article .apps i:hover {
    width: 100%;
    height: 100%;
    font-size: 18pt;
    transition: 0.4s;
}